.MainContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 900px) {
  .MainContainer {
    flex-direction: row;
  }
}

/*  Global dark mode base */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: #0f0f0f;
  color: #e5e5e5;
}

/* Page wrapper */
.App {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: #1db954; /* Spotify Green */
}

