.results {
    display: flex; 
    position:relative;
    top: 15rem;  
}

.results li {
    display: inline-flex;
    width: 100%;
    margin: 0;
    border-bottom: solid;
    justify-content: left;
    align-items: center;
}

.results button {
    height: 3rem;
    width: 3rem;
    background-color: #021E73;
    border-radius: 5px;
    border: solid #4E8AD9;
    color :#4E8AD9;
    font-weight: 800;
    justify-self: center;
    align-self: center;
}

.results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.results img {
    width: 7rem;
    height: 7rem;

}

.trackInfo {
    display: inline-flex;
    width: 85%;
}

.trackInfo h4 {
    width: 45%;
    text-align: left;
    padding-left: 2rem;
}

.trackInfo h5 {
    width: 30%;
    text-align: left;;
}

.trackinfo h6 {
    width: 25%;
}