.yourPlaylist {
    display: flex; 
    position:relative;
    top: 25rem;  
    width: 100%;
    justify-content: center;
}

.yourPlaylist li {
    display: inline-flex;
    width: 100%;
    margin: 0;
    border-bottom: solid;
    justify-content: left;
    align-items: center;
    
}

.yourPlaylist button {
    height: 3rem;
    width: 3rem;
    background-color: #021E73;
    border-radius: 5px;
    border: solid #4E8AD9;
    color :#4E8AD9;
    font-weight: 800;
    justify-self: center;
    align-self: center;
}

.yourPlaylist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.yourPlaylist img {
    width: 7rem;
    height: 7rem;

}

.trackInfo {
    display: inline-flex;
    width: 85%;
}

.trackInfo h4 {
    width: 45%;
    text-align: left;
    padding-left: 2rem;
}

.trackInfo h5 {
    width: 30%;
    text-align: left;;
}

.trackinfo h6 {
    width: 25%;
}

.yourPlaylistDefault {
    position: relative;
    top: 20rem;
    padding-bottom: 5rem;
    text-align: center;
}

.playlistHeader {
    position: relative;
    top: 20rem;
    text-align: center;
}

.playlistHeader input {
     border-radius: 15px;
    height: 1.5rem;
    padding-left: .5rem;
    width: 20rem;
    border: solid #4E8AD9;
    margin-bottom: 1rem;
}

.playlistHeader button {
    background-color: #0339A6;
    color: #F2F2F2;
    border-color: #4E8AD9;
    width: 5rem;
    height: 2rem;
    margin-left: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
}

